a, u {
    text-decoration: none !important;
    
}
a:hover, u:hover{
    color: green !important;
    background: pink;
}
div {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}

li {
    list-style: none;
}
/* Header start */

.fa-green {
    color: white !important;
    background: #66a99b !important;
    padding: 10px;
    margin-left: 10px;
}

.white, 
.white a,
.banner-text a {
    color: white;
}

.green {
    background: #7bc1b3;
    color: white;
    height: 38px;
}

.logo {
    margin-top: -30px;
}

/* Header end */

/* Body start */

.banner {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.banner h3,
.banner h5{
    color: white;
}
/* .banner-text{
    margin-top: -300px;
} */
.banner-box{
    background: #ecf5fd;
    height: 500px;
    padding: 20px;
}
.banner-box-2{
    background: white;
    height: 500px;
    color: #cc9966;
}
.padding-left{
    padding-left: 15px;
}
.fa-banner {
    background: #7bc1b3;
    color: white;
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 20px;
    margin-top: -5px;
}

/* Body End */

/* Calculator start */

.btn {
    border: 1px solid black;
    width: 90px !important;
    height: 90px !important;
    border-radius: 50% !important;
    margin-left: 10px !important;
    margin-top: 5px !important;
    font-size: 35px !important;
}

.contain-500 {
    margin-top: -30px !important;
    padding-top: 0 !important;
    height: 500px !important;
}

.jumbo-120 {
    height: 120px !important;
    padding-top: 10px !important;
}

.jumbotron::after {
    clear: both;
    display: inline;
}

.custom-btn {
    width: 190px !important;
    height: 90px !important;
}

/* Calculator End  */